<select name="{{ name }}" class="form-control ml-0" id="exampleFormControlSelect1">
    {% if include_blank %}
        <option value= "{{ option['value'] }}" >{{ include_blank }}</option>
    {% endif %}
    
    {% for option in options %}
        <option{{ (value == option['value']) ? ' selected' : '' }} value="{{ option['value'] }}">{{ option['text'] }}</option>
    {% endfor %}
    
</select>
