<li>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 label">
                    {% if checkbox %}
                        {% include 'helper::_datalist_row_checkbox.twig' with {
                            id: checkbox['id']
                        } %}
                    {% endif %}
                    {% if image['url'] is not null %}
                        {% include 'helper::_datalist_image.twig' with {
                            image: image['url']
                        } %}
                    {% else  %}
                        <span class="custom-control custom-checkbox pull-left mb-20 image_list">
                            <span class="lnr lnr-user icon-contact-error"></span>
                        </span>
                    {% endif %}
                    <h4 class="text-semibold">
                        <a href="{{ main_col['url'] }}">{{ main_col['text'] }}</a>
                    </h4>
                    <p class="text-dim noi-dung font-size">{{ main_col['desc'] }}</p>
                </div>
                <div class="col-md-6 create">
                    {% for col in cols %}
                        <div class="col-data pull-left {{ col['class'] }}">
                            <h4 class="text-semibold font-size">
                                {{ col['text'] }}
                                {% if col['text_hover'] %}
                                    <span class="datalist-line-hover text-dim2 ml-lvl1 font-size text-normal">
                                        {{ col['text_hover'] }}
                                    </span>
                                {% endif %}
                            </h4>
                            <p class="text-dim font-size">{{ col['desc'] }}</p>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3 text-right font-size datalist-line-hover flex" style="flex-direction: row-reverse">
            {% if group_actions %}
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-default font-size" href="{{ group_actions['main_action']['url'] }}">
                        {{ group_actions['main_action']['text'] }}
                    </a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-default font-size dropdown-toggle dropdown-toggle-only p-11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right font-size" aria-labelledby="btnGroupDrop1">
                            {% for action in group_actions['more_actions'] %}
                                {% if action['can'] %}
                                    {% include 'helper::_link.twig' with action|merge({
                                        class: "dropdown-item datalist-row-action-#{action['type']}"
                                    }) %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</li>
