<li>
    
    <a href="{{ url }}" class="fnl-gallery-thumb-link">
        <img
            class="fnl-gallery-thumb-img"
            src="{{ thumb }}"
        />
    </a>
    {% if checkbox %}
        {% include 'helper::_datalist_row_checkbox.twig' with {
            id: checkbox['id']
        } %}
    {% endif %}
    <div class="fnl-gallery-header">
        <a href="{{ url }}">
            {{ title }}
        </a>
        <p class="text-dim">{{ desc }}</p>
        {% if actions %}
            <hr>
            <div class="gallery-item-actions mt-lvl2 text-center">
                {% for action in actions %}
                    {% include 'helper::_link.twig' with action|merge({
                        class: "btn btn-small btn-secondary datalist-row-action-#{action['type']}"
                    }) %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</li>
