<div class="sub-section">
    <ul class="menu one-line sidebar-menu">
        {% for item in items %}<li>
            {% if item['name'] == '_divider_' %}
                <hr>
            {% else %}
                <a href="{{ item['url'] }}"
                    class="
                        {% if item['name'] == current_item %}current {% endif %}
                        {% if item['class'] is defined %}{{ item['class'] }}{% endif %}
                    "
                >
                    <i class="{{ item['icon'] }}"></i>
                    {{ item['label'] }}
                    
                    {% if item['badge'] is defined and item['badge'] > 0 %}
                        <span class="badge badge-pill badge-{% if item['name'] == current_item %}primary{% else %}secondary{% endif %}">{{ item['badge'] }}</span>
                    {% endif %}
                </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

